h2
{
    color: blueviolet;
    
}
body
{
    background-color: sandybrown;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
header
{
    background-color: bisque;
}
main 
{
    padding: 20px;
    background-color: blanchedalmond;
}
footer
{
    border-top: solid 4px red;
    background-color: aquamarine;
    
}
ul,h1,h2,h3,h4,h5,h6
{
    margin: 0;
}

ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
a
{
    text-decoration: none;
}
html
{
    height: 100%;
}
.wrapper
{
    width: 80%;
    margin: 0 auto;
}
.center_flex
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
.footer_flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
button
{
    color: pink;
    font-weight: bold;
    width: 100px;
    height: 100px;
    border: none;
    margin: 0 auto;
    display: block;
    border-radius: 22px;
}
.index-main-flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
}
.photostyle
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.photostyle img {
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}
.form_flex
{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center; 
    justify-content: center; 
    margin: 0 auto; 
    border: 3px solid orange;
    border-radius: 50px;
    padding: 10px;
    width: 350px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}
.name
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


